@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

html body {
  font-family: 'Ubuntu';
  color: #1f2020;
  font-size: 16px;
}

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth !important;
}

.secondary {
  color: #4129c6;
}

a,
a:hover {
  color: #4129c6;
  font-size: 20px;
  text-decoration: underline;
}

h3 {
  font-weight: bold;
  font-size: 22px;
}
