.subHeader {
  margin-top: 190px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  margin-bottom: 310px;
}


.subTitle {
  font-weight: bold;
  font-size: 14px;
}

.intro {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.screen {
  width: 139px;
  margin-bottom: 35px;
}

.work {
  text-align: center;
  margin-top: 50px;
}

.links {
  text-align: center;
}

.workEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: px;
}

.pin {
  width: 45px;
}

.mail {
  width: 35px;
  margin-right: 7px;
}

.profileLink {
  margin-bottom: 30px;
  display: block;
}

.profileText {
  margin-bottom: 40px;
  margin-top: 55px;
}
