html,
body {
    color: #545454;
    -webkit-font-smoothing: antialiased;
    font-family: "Adobe", sans-serif;
    font-size: 21px;
    background-color: #fafafa;
}

h1 {
    font-weight: 200;
    font-size: 48px;
    color: #45b29a;
    -webkit-font-smoothing: antialiased;
    font-family: 'Whitney', sans-serif;
}

a {
    color: #45b29a;
    text-decoration: none;
}

a:hover {
    color: #1a443b;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    font-size: 14px;
}

.avatar {
    background-image: url('./avatar.jpeg');
    width: 230px;
    height: 230px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Whitney';
    src: url('./whitney-light.otf');
}

@font-face {
    font-family: 'Adobe';
    src: url('./adobe.woff');
}

@media (min-width: 576px) {}

@media (min-width: 768px) {

    html,
    body {
        height: 100%;
    }

    .links {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}